<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Forms</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to home page!</h1>
            <h2>Go to <a href="/staticandfilter">/staticandfilter</a> to load static css, static pic files and filter examples</h2>
            <h2>Go to <a href="/sites">/sites</a> to get list of sites access date</h2>
            <h2>Go to <a href="/users">/users</a> to get list of users</h2>
            <h2>Go to <a href="/formpage">/formpage</a> to fill out the form</h2>
            <h2>Go to <a href="/signup">/signup</a> to sign up</h2>
            <h2>Go to <a href="/relative">/relative_url_templates</a> to check how relative urls work</h2>
            <h2>Go to <a href="first_app/">FIRST APPLICATION</a> to get started</h2>
            <h2>Go to <a href="first_app/register">/register</a> to register</h2>
        </div>
    </div>

</body>

</html>